body{
    background-color: black;
    color: aliceblue;
}


 /* **************************  Styling the Input and the header section of teh Application ****************************** */
.Input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Temp-change{
    border-radius: 20px;
    background-color: rgb(0, 209, 209);
    border:1px dashed black;
}

.Temp-change:hover {
    box-shadow: 0 0 11px rgb(255, 255, 255);
}

.Location{
    position: absolute;
    right: 50px;
    top: 15px;
    border-radius: 20px;
    background-color: rgb(0, 209, 209);
    border:1px dashed black;
}

.Location:hover{
    box-shadow: 0 0 11px rgb(255, 255, 255);
}

.Input .input-block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:900px;
    max-width: 4px;
    margin-top: 20px;
}

.input-block input{
    width: 550px;
    margin-left: 30px;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    border: 0.5px solid white;
}

.input-block input:hover{
    box-shadow: 0 0 11px rgb(255, 255, 255); 
}

.search-icon{
    margin-left: 10px;
}


 /* ******************************  styling the weather cards section of the page ************************* */
.box-wrap{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: center;
}


/* ********************** card styling ****************** */
.day-card{
    position: relative;
    border: 1px solid lightgray;
    padding-bottom:10px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0px 3px 4px lightgray;
    cursor: pointer;
}

.image{
  width: 250px;
  height: 180px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.day-card p{
    margin-bottom: 0px;
}