.Input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Input .input-block{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:600px;
    max-width: 4px;
}

.search-icon{
    margin-left: 10px;
}